@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Slabo+27px');

body {
  min-height: 80vh;
  max-width: 600px;
  margin: auto;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-family: Slabo27px-Regular, serif;
  color: #555555;
}

form {
  background-color: #EEEEEE;
  padding: 20px 40px 20px 20px;
}

label {
  display: block;
  padding: 10px 0 5px 0;
}

input {
  width: 100%;
  font-size: 18px;
  line-height: 36px;
  padding: 0 10px 0 10px;
  background-color: #DDDDDD;
  border: none;
}

button {
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  display: block;
  margin: 30px auto 10px auto;
  background-color: #31C6E8;
  border: none;
  color: white;
}

button:hover {
  background-color: #29FFED;
}

#server-message {
  background-color: #FFF5D5;
  text-align: center;
  padding: 20px;
  margin: 20px 0 20px 0;
}

.message {
  display: block;
  border-bottom: 1px solid Gainsboro;
}

.user-name {
  color: #31C6E8;
}

.user-message {
  display: inline-block;
}
